@charset "UTF-8";

::-webkit-scrollbar { 
    display: none; 
}

#resInfo_back{
	margin:0 auto;
	margin-top:90px;
	width:100%;
	height:2000px;
}

/* resinfoboard{
	margin:0 auto;
	width: 1000px;
	max-height: 800px;
	overflow: scroll;
} */